{
  "tabWidth": 2,
  "printWidth": 90,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "semi": true
}
