.section
  background-color magenta
  height 100vh
  position relative

.section__label
  position absolute
  top 13rem
  left 5rem

@media (max-width: 600px) {
  .section__label {
    top 1rem
    left 1rem
  }   
}