.text
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  z-index: inherit;
  &.rem-2
    font-size: 2rem;
  &.rem-3
    font-size: 3rem;
  &.align-center
    text-align: center;

.text--heading
  font-size: 2rem;
  font-weight: 700;

.text--subheading
  font-size: 1.5rem;
  font-weight: 700;

.text--thin
  font-weight: 400;

.text--bold
  font-weight: 700;