//fade

.fade-enter-active
  transition: opacity .5s;

.fade-leave-active
  transition: opacity .3s;

.fade-enter, .fade-leave-to
  opacity: 0;


// fade - slow

.fade-slow-enter-active
  transition: opacity 4s;

.fade-slow-leave-active
  transition: opacity 1.3s ease;

.fade-slow-enter, .fade-slow-leave-to
  opacity: 0;


// slide - fade

.slide-fade-enter-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);

.slide-fade-leave-active
  transition: all .3s ease;

.slide-fade-enter, .slide-fade-leave-to
  transform: translateY(10px);
  opacity: 0;